* {
	padding: 0 ;
	margin: 0 ;
}

body {
	background-color: #000000 ;
}

div {
	position: relative ;
}

#windowOfLife {
	display: block ;
	font-family: monospace ;
	background-color: transparent ;
	color: #9c9aff ;
	font-size: 8pt ;
	line-height: 8pt ;
	transform: scale(1,0.8) ;
}
